extends ../../../templates/navbar-footer.pug

block main
  .mt-3.pt-5.pb-4.text-center.bg-secondary.text-white.banner
    .container
      .row
        .col-md-12.pt-3.pb-1
          h1.mb-3.banner-header Welcome to Ultra Super Green
      .row
        .col-12
          #carouselArchitecture.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#carouselArchitecture', data-slide-to='0')
                i
              li(data-target='#carouselArchitecture', data-slide-to='1')
                i
              li(data-target='#carouselArchitecture', data-slide-to='2')
                i
            #banner-carousel.carousel-inner(role='listbox')
              .carousel-item.active
                img.d-block.img-fluid.banner-img(src='/assets/images/static/organic1.jpg', data-holder-rendered='true')
              .carousel-item
                img.d-block.img-fluid.banner-img(src='/assets/images/static/organic2.jpg', data-holder-rendered='true')
              .carousel-item
                img.d-block.img-fluid.banner-img(src='/assets/images/static/organic3.jpg', data-holder-rendered='true')
  .mt-4
    .container
      div
        h3.lead.fl-l.light-bold
          b Most Popular Products
        h3.lead.fl-r
          a(href='/store') Go To Store >
      br
      br
      .row
        each prod in products
          .col-sm-6.col-lg-3.mb-4
            .card
              a(href='/item/'+prod.intProdID)
                img.card-img-top.product-img(src='/assets/images/static/'+prod.strProdImg alt='Card image cap')
              ul.list-group.list-group-flush
                li.list-group-item.bold.product-card-name
                  | #{prod.strProdName}
                  p
                    small #{prod.intProdStock} Left
              .card-body.bottom-card-button
                h4.card-price ₱ #{prod.fltProdPrice}
                each thisuser in thisusertab
                  a.btn.btn-custom-primary.btn-block(href='#')
                    i.fa.fa-fw.fa-cart-plus
                    |  Add to Cart
                    
    br
  .mb-5
    .container
      div
        h3.lead.fl-l.light-bold
          b New Products
        h3.lead.fl-r
          a(href='/store') Go To Store >
      br
      br
      .row
        each prod in products
          .col-sm-6.col-lg-3.mb-4
            .card
              a(href='/item/'+prod.intProdID)
                img.card-img-top.product-img(src='/assets/images/static/'+prod.strProdImg alt='Card image cap')
              ul.list-group.list-group-flush
                li.list-group-item.bold.product-card-name
                  | #{prod.strProdName}
                  p
                    small #{prod.intProdStock} Left
              .card-body.bottom-card-button
                h4.card-price ₱ #{prod.fltProdPrice}
                each thisuser in thisusertab
                  a.btn.btn-custom-primary.btn-block(href='#')
                    i.fa.fa-fw.fa-cart-plus
                    |  Add to Cart
